.error-message{
    @include absolute(-60%,auto,auto,50%, translateX(-50%));
    padding:6px 10px 13px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 61% 75%, 48% 100%, 50% 75%, 0% 75%); 
    background-color: $black;
    color:$white;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
}
