.full-search-form{
    @include flex(auto,auto,auto,wrap);
    @include size( calc( 100% + 40px ), auto,20px -20px, 0px 20px );
    column-gap: 20px;
    padding: 0 20px; 
    transition: 0.5s;
    background-color: $light-gray;

    &__toggler{
        margin-top: 15px;
        padding: 5px 15px;
        display: block;
        background-color: transparent;
        border:2px solid $green;
        color:$green;
        cursor: pointer;
    } 
    &--active{
        max-height: 1000px!important;
        opacity: 1!important;
        pointer-events: initial!important;
    }
    & > div {
        flex-basis: 165px;
    }
    &__heading{
        @extend %first-letter--uppercase;
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 16px;
        color: $full-search-from-heading;
        font-family: Lato;
        font-weight: normal;
        text-transform: lowercase;

    }
    &__type{

        &-input{
            margin-right: 5px;
            display: none;
        }

        &-radio{
            @include size(15px,15px,2px);
            display: inline-block;
            position: relative;
            border:1px solid $gray;
            border-radius: 50%;
            vertical-align: middle;
            cursor: pointer;

            &::after{
                @include size(7.5px,7.5px);
                @include absolute(50%,auto,auto,50%,translate(-50%,-50%));
                content:'';
                transition: 0.3s;
                border-radius: 50%;
            }
        }
        label{
            margin-top: 5px;
            display: inline-block;
            cursor: pointer;
        }
        &-input:checked + label &-radio::after{
            background:$black;
        }
    }
    &__price{
        position: relative;
        
        &__content{
            @include flex();
        }
        &-range{
            @include size(80px,47px, 0 10px 0 0);
            display: inline-block;
            border-radius: 7px;
            border:none;
            overflow: hidden;
            font-size: 14px;
            position: relative;

            &::after{
                content:"zł";
                @include absolute(50%,10px,auto,auto,translateY(-50%));
                color:$dark;
                font-size: 15px;
            }
            input{
                @extend %master-size;
                color:$dark;
                padding:  0 25px 0 10px;
                border:none;
            }
        }
    }
    &__btn{
        @include size(160px,45px);
        margin-bottom: 30px;
        padding: 5px 35px;
        display: block;
        background-color: $navblue;
        border-radius: 3px;
        color:$white;
        font-family: Lato;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;

        &-group{
            margin-top: 40px;
            width: 100%;
            flex-shrink: 0;
            flex-basis: initial!important;
            flex-grow: 1;
        }
    }
}

.select{
    @include size(210px, 47px, auto, 10px 45px 10px 15px);
    line-height: 30px;
    position: relative;
    background-color: $white;
    border-radius: 3px;
    cursor: pointer;

    &__close-icon{
        @include absolute(50%,15px,auto,auto,translateY(-50%));
        @include size(20px,20px);
        @include backgroundImage('icons/arrow.svg',cover,center);
        pointer-events: none;

        &--active{
            @include backgroundImage('icons/close.svg',70%,center);
            pointer-events: initial;
        }
    }
    &__content{
        @extend %master-size;
        pointer-events: none;
        overflow: hidden;
        font-size: 14px;
    }
    &--active .select-slider{
         display: block;
    }
    &-slider{
        @include absolute(100%,auto, auto, 0, auto, 10);
        @include size(101%);
        max-height:220px;
        display: none;
        overflow-y: scroll;
        border:1px solid lightblue;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $white;
       
        &__slid{
            @include flex(auto,center);
            @include size(auto, 35px, auto, 0 10px);
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;

            label{
                @extend %master-size;
                @include flex(auto,center);
                cursor: pointer;
                font-family: Lato;
                text-transform: capitalize;
            }
            input{
                display: none;
                margin-right: 10px;
            }

            &:hover{
                background-color: $full-search-from-heading;
                color:$white;
                cursor: pointer;

                .checkbox-styled{
                    background-color: $white;
                }
            }

            input:checked + label .checkbox-styled{
                border:none;

                &::after{
                    opacity: 1;
                }
            }
        }
    }
}

.checkbox-styled{
    @include size(17px, 17px, 0 15px 0 0);
    display: inline-block;
    position: relative;
    overflow:hidden;
    background-color: transparent;
    border:1px solid $dark;
    border-radius:3px;
    vertical-align: top;
    pointer-events: none;
    
    &::after{
        @extend %master-size;
        @include backgroundImage('icons/check.svg',70%,center);
        content:"";
        display: block;
        background-color: $black;
        opacity: 0;
    }
}


@mixin fullSearchForm--sm-max {
    .full-search-form{
        max-height: 0px;
        opacity: 0;
        pointer-events: none;
    }
}
@mixin fullSearchForm--sm {
    .full-search-form{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}