$black:black;
$white:white;
$gray:gray;
$light-gray:#efefef;
$green:#289b37;
$dark-gray:#333;
$dark:#2f2f2f;
$blue: #0c66ff;

$price-red:#c00;
$red:#e91b20;
$navblue:#10263e;
$lightblue:#00aeef;
$footer-bg:#f3f4f4;
$full-search-from-heading:#002f34;
$product-model:#757575;

$navbar-item-border:#e5e5e5;