.flex-template{
    margin-top: 50px;

    &__heading{
        @extend %heading;
    }
    &__container{
        @include flex(center,flex-start,auto,wrap);
        margin-top: 15px;
        gap:10px;
    }
    &__item{
        @include flex(auto,auto,column);
        flex-basis: 100px;
        flex-grow: 1;
        max-width: 150px;

        &__img{
            @include size(120px,120px, 0 auto);
            flex-shrink: 0;
            
            img{
                @extend %master-size;
                max-height: 240px;
            }
        }
        &__heading{
            min-height: 34px;
            line-height: 1;
            color:$black;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            text-transform: capitalize;
        }
        &__model{
            max-height: 30px;
            min-height: 25px;
            overflow: hidden;
            color:$product-model;
            font-size: 11px;
            font-family: Lato;
            text-align: center;
        }
        &__info{
            @include flex( center, center );
            margin-top: 15px;
            font-family: PragatiNarrow;
            line-height: 1;
            letter-spacing: 1px;
        }
        &__discount{
            margin-right: 10px;
            color:$dark;
            text-decoration: line-through;
        }
        &__price{
            color:$price-red;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

@mixin flexTemplate--xs{
    .flex-template{
        &__item{
            flex-basis: 120px;

            &__img{
                @include size(140px,140px);
            }
        }
        &__container{
            gap:20px;
        }
    }
}
@mixin flexTemplate--ms-1000 {
    .flex-template__item{
        flex-basis: 110px;
        max-width: 190px;

        &__heading{
            font-size: 18px;
        }
        &__model{
            margin-top: 5px;
        }
        &__img{
            @include size(200px,200px);
        }
    }
}